@import 'tailwindcss';

@theme {
	--font-sans: 'Space Grotesk', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;

	--color-bg: #050c14;
	--color-surface: #091524;
	--color-surface2: #0d1e30;
	--color-border: #152b42;
	--color-border2: #1d3d5c;
	--color-accent: #0ea5e9;
	--color-accent2: #0284c7;
	--color-emerald: #10b981;
	--color-amber: #f59e0b;
	--color-rose: #f43f5e;
	--color-text: #c8d8e8;
	--color-muted: #4a6880;
	--color-heading: #e2f0ff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-sans);
	min-height: 100vh;
	overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--color-border2);
	border-radius: 3px;
}

/* TonConnect modal z-index fix */
tc-root {
	z-index: 9999;
}
